#ColorPicker {
	text-shadow: 1px 1px 1px #000;
	color:#AAA;
	cursor:default;
	font-family:'arial',helvetica,sans-serif;
	padding:0px 0 15px;
	position:relative;
	z-index: 100;
}
#ColorPicker br {
	clear:both;
	margin:0;
	padding:0;
}
#ColorPicker input.hexInput:hover,
#ColorPicker input.hexInput:focus {
	color: #FFD000
}
#ColorPicker input.hexInput {
    outline: none;
	transition-property: color;
	transition-duration: .25s;
	background: none;
	border: 0;
	margin: 0;
	font-family: courier, monospace;
	font-size: 20px;
	position: relative;
	padding: 0 0 0 5px;
	left: 2px;
	top: -2px;
	width: 150px;
	float:left;
	color:#fff;
	cursor: text;
}
#ColorPicker div.hexBox {
	border: 1px solid rgba(255,255,255,0.5);
	border-radius: 2px;
	background:#FFF;
	float:left;
	font-size:1px;
	height: 20px;
	margin: 0 5px 0 10px;
	width:20px;
}
#ColorPicker div.hexBox.active {
	box-shadow: 0 0 3px 2px rgba(255,255,255,1);
	border: 1px solid rgba(0,0,0,1);	
}
#ColorPicker div.hexBox div {
	width: inherit;
	height: inherit;
}
#ColorPicker div.hexClose {
	transform: scale(1, 0.75);
	transition-property: color;
	transition-duration: .25s;
	color: #fff; 
	float: right;
	position: relative;
	top: -3px;
	left: 0;
	padding-right: 8px;
	font-size: 20px;
	color: #666;
	cursor: pointer;
}
#ColorPicker div.hexClose:hover {
	text-shadow: 0 0 20px #fff;
	color: #FF3DBD;
}
#ColorPicker canvas {
	position: relative;
	top: 4px;
}

/* blend modes
----------------------------------- */
#light-mode {
	display: inline-block;
	position: relative; 
	top: -5px; 
	left: 4px; 
}
#light-mode img {
	-webkit-filter: grayscale(1); 
	cursor: pointer;
}